<!doctype html>
  <html style="overflow:hidden;">
    <head>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    </head>
    <body>
      <div id="app">
        <div class="modal" :class="{'is-active':modalActive}" >
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Terminal settings</p>
              <button class="delete" v-on:click="closeSettings()" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">MQTT URL</label>
                <div class="control">
                  <input class="input" type="url" v-model="this.mqttUrl" placeholder="">
                </div>
              </div>
              
              <div class="field">
                <label class="label">INPUT CHANNEL</label>
                <div class="control">
                  <input class="input" type="text" v-model="this.inputChannel" placeholder="">
                </div>
              </div>

              <div class="field">
                <label class="label">OUTPUT CHANNEL</label>
                <div class="control">
                  <input class="input" type="text" placeholder=""  v-model="this.outputChannel">
                </div>
              </div>
              <div class="field">
                <label class="label">SESSION ID</label>
                <div class="control">
                  <input class="input" type="text" placeholder=""  v-model="this.sessionID">
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" v-on:click="restartSession()">RESTART SESSION</button>
              <button class="button" v-on:click="closeSettings()">Cancel</button>
            </footer>
          </div>
        </div>     
        <div class="notification is-light" style="margin:0" :class="statusClass">
          <div class="columns is-mobile">
            <div class="column is-1">
              <i v-show="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
              <i v-show="isSuccess" class="fa-solid fa-check"></i>
              <i v-show="isError" class="fa-solid fa-xmark"></i>
            </div>
            <div class="column is-2">
              <div>{{ notifyText }}</div>
            </div>
            <div class="column is-2">
              <button v-show="isError" class=" button is-info" v-on:click="location.reload()">
                REFRESH
              </button>
              <button v-show="isSuccess" class=" button is-success" v-on:click="startTerminalSession()">
                RESTART SESSION
              </button>
              <span class="tag is-link">{{ sessionID }}</span>
            </div>
            <div class="column is-1">
              <button class=" button is-secondary" v-on:click="openSettings()">
                <i class="fa-solid fa-cog"></i>
              </button>
            </div>
          </div>
          
          
          
        </div>
        <div id="terminal" style="height:90vh;"></div>
      </div>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@5.1.0/css/xterm.min.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

      <script src="https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.3.7/mqtt.min.js" integrity="sha512-tc5xpAPaQDl/Uxd7ZVbV66v94Lys0IefMJSdlABPuzyCv0IXmr9TkqEQvZiWKRoXMSlP5YPRwpq2a+v5q2uzMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/xterm-addon-search@0.11.0/lib/xterm-addon-search.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.8.0/lib/xterm-addon-web-links.min.js"></script>
      <script>
       
        var app = new Vue({
          el:"#app",
          data() {
            return {
              term:undefined,
              fit:undefined,
              inputChannel:"terminal-bridge/input",
              outputChannel:"terminal-bridge/output",
              commandChannel:"mqtt-bridge/command",
              mqttClient:undefined,
              mqttUrl:"",
              statusClass:"is-primary",
              notifyText:"Connecting to MQTT broker...",
              isError:false,
              isLoading:false,
              isSuccess:false,
              sessionID:"Yyy213769Ggg",
              modalActive:false
            }
          },
          mounted() {
            let uri = window.location.search.substring(1); 
            let params = new URLSearchParams(uri);
            if(params.get("session")==null) {
              let r = (Math.random() + 1).toString(36).substring(2);
              this.sessionID = r;
            } else {
              this.sessionID = params.get("session");
            }
            if(params.get("details")!=null) {
              var connectionDetails = this.decodeDetails(params.get("details"));
              this.mqttUrl = connectionDetails.url;
              this.inputChannel = connectionDetails.inputChannel;
              this.outputChannel = connectionDetails.outputChannel;
              this.sessionID = connectionDetails.session;
            }
            this.setStatus("loading","Setting up terminal...");
            window.addEventListener('resize', this.debounce(this.fitToscreen,60));
            this.term = new Terminal({
                cursorBlink: true,
                macOptionIsMeta: true,
                scrollback: 9999999,
            });
            this.term.attachCustomKeyEventHandler(this.customKeyEventHandler);
            // https://github.com/xtermjs/xterm.js/issues/2941
            this.fit = new FitAddon.FitAddon();
            this.term.loadAddon(this.fit);
            this.term.loadAddon(new WebLinksAddon.WebLinksAddon());
            this.term.loadAddon(new SearchAddon.SearchAddon());
            this.term.open(document.getElementById("terminal"));
            this.fit.fit();
            this.term.resize(30, 80);
            this.fit.fit();
            this.term.onData((data) => {
                this.mqttClient.publish(this.inputChannel+"/"+this.sessionID, JSON.stringify({data:data,sessionID:this.sessionID}));
            });
            this.setStatus("loading","connecting to broker: "+this.mqttUrl);
            this.mqttClient = mqtt.connect(this.mqttUrl);
            this.mqttClient.publish(this.commandChannel, JSON.stringify({cmd:"stop_terminal_session",sessionID:this.sessionID}));
            this.setStatus("loading","subscribe to channel: "+this.outputChannel+"/"+this.sessionID);
            this.mqttClient.subscribe(this.outputChannel+"/"+this.sessionID,(error)=> {
              if(error) {
                this.setStatus("error","error during subscribing to output channel "+this.outputChannel+"/"+this.sessionID);
              } else {
                this.setStatus("success","terminal ready");
                this.term.writeln("You can copy with ctrl+shift+x");
                this.term.writeln("You can paste with ctrl+shift+v");
                this.term.writeln("Press RESTART SESSION to activate terminal session");
              }
            });
            this.mqttClient.on("message", (topic, data)=> {
                if (topic.includes(this.outputChannel)) {
                    this.term.write(data);
                }
            });

            this.mqttClient.on("connect", () => {
                this.fitToscreen();
            });

            this.mqttClient.on("disconnect", () => {
              this.setStatus("error","Broker disconnected");
            });

            this.mqttClient.on("error", () => {
              this.setStatus("error","Cannot connect to broker");
            });


          },
          
          methods:{
            encodeDetails() {
              return btoa(JSON.stringify({url:this.mqttUrl,inputChannel:this.inputChannel,outputChannel:this.outputChannel,session:this.sessionID}))
            },

            decodeDetails(base64String) {
              return JSON.parse(atob(base64String));
            },

            openSettings() {
              this.modalActive = true;
            },

            closeSettings() {
              this.modalActive = false;
            },

            startTerminalSession() {
              this.term.writeln("Starting new terminal session "+this.sessionID);
              this.mqttClient.publish(this.commandChannel, JSON.stringify({cmd:"start_terminal_session",sessionID:this.sessionID}));
            },

            restartSession() {
              var base64String = this.encodeDetails();
              let uri = new URL(window.location.href); 
              if(this.sessionID.length>0) {
                if(uri.searchParams.get("session")==null) uri.searchParams.append("session",this.sessionID);
                else uri.searchParams.get("session",this.sessionID);
              }
              if(base64String.length>0) {
                if(uri.searchParams.get("details")==null) uri.searchParams.append("details",base64String);
                else uri.searchParams.set("details",base64String);
              }
              window.location.href = uri.toString();
            },

            setStatus(level,text) {
              if(typeof this.term !== "undefined") {
                this.term.writeln(level + " - "+text);
              }
              switch(level) {
                
                case "error":
                  this.isLoading = false;
                  this.isError = true;
                  this.isSuccess = false;
                  this.notifyText = text;
                  this.statusClass = "is-danger";
                break;

                case "success":
                  this.isLoading = false;
                  this.isError = false;
                  this.isSuccess = true;
                  this.notifyText = text;
                  this.statusClass = "is-success";
                break;

                case "loading":
                  this.isLoading = true;
                  this.isError = false;
                  this.isSuccess = false;
                  this.notifyText = text;
                  this.statusClass = "is-warning";
                break;

                default:
                  this.isLoading = false;
                  this.isError = true;
                  this.isSuccess = false;
                  this.notifyText = "Loading...";
                  this.statusClass = "is-warning";
                break;

              }
            },

            fitToscreen() {
                this.fit.fit();
                var dims = { data:{cols: this.term.cols, rows: this.term.rows}, cmd:"resize_terminal",sessionID:this.sessionID};
                this.mqttClient.publish(this.commandChannel, JSON.stringify(dims));
            },

            debounce(func, wait_ms) {
                var timeout;
                return function (...args) {
                    const context = this;
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(context, args), wait_ms);
                };
            },

            customKeyEventHandler(e) {
              if(e.type !== "keydown") {
                  return true;
              }
              if(e.ctrlKey && e.shiftKey) {
                  const key = e.key.toLowerCase();
                  if (key === "v") {
                      // ctrl+shift+v: paste whatever is in the clipboard
                      navigator.clipboard.readText().then((toPaste) => {
                          term.writeText(toPaste);
                      });
                      return false;
                  } else if (key === "c" || key === "x") {
                      // ctrl+shift+x: copy whatever is highlighted to clipboard

                      // 'x' is used as an alternate to 'c' because ctrl+c is taken
                      // by the terminal (SIGINT) and ctrl+shift+c is taken by the browser
                      // (open devtools).
                      // I'm not aware of ctrl+shift+x being used by anything in the terminal
                      // or browser
                      var toCopy = term.getSelection();
                      navigator.clipboard.writeText(toCopy);
                      term.focus();
                      return false;
                  }
              }
              return true;
          },
        }
      });
      </script>
    </body>
  </html>
